.navbar {
  position: sticky;
  top: 0px;
}
.navbar__navbar_list {
  height: 6.7vh;
  background: var(--white) 0% 0% no-repeat padding-box;
  box-shadow: 0px 2px 2px #00000029;
  list-style-type: none;
}

.navbar__navbar_list li {
  font-size: 17px;
  display: grid;
  place-items: center;
  float: left;
  width: 9.8%;
  min-width: 60px;
  height: 100%;
  color: #404b69;
  border-bottom: 3px solid #8870c900;
}
.navbar__navbar_list .navbar_option--selected {
  color: var(--purple500) !important;
  border-bottom: 3px solid var(--purple500);
  border-bottom: 3px solid #8870c9;
  opacity: 1;
}
